.row
  .span9
    .rambling_text
      %h1.page-header We're still under construction
      %p
        %strong
          You can help by trying out <em>Habitat</em> and telling us what you think. 
      %p
        New features are being added each week.
      
  .span7

