header.master {
  padding-top: 60px;
}

div.well {
  padding: 5px 10px;
}

pre { display: none; }

.month_range {
  white-space: nowrap;
}

table {
  empty-cells:show;
  
  td {
    .role {
      color: #999;
    }
  }
  td {
    strong.wide_header {
      display: block;
      margin-bottom: 5px;
    }
  }
  tbody {
    td {
      .no-data {
        color: #999;
        font-style: italic;
      }
    }
  }
  td.details, td div.details {
    font-style: italic;
  }
  td.avatar {
    padding: 4px 0 0 0;
    width: 80px;
    height: 80px;
    vertical-align: center;
  }
  td.avatar40 {
    padding: 4px 0 0 0;
    width: 40px;
    height: 40px;
    vertical-align: center;
  }
  tfoot {
    td.table_actions {
      text-align: right;
    }
    
    .no-data {
      text-align: center;
      background-color: #F5F5F5;
      color: #333;
      font-style: italic;
    }
  }  
}

.record_name .record_actions a {
  border-right: 2px solid #BFBFBF;
  padding-right: 0.4em;

  &:last-child {
    padding-right: 0;
    border-right: 0;
  }
}


