%title Permapedia - A global, collaborative encyclopedia of permaculture plants, guilds and patterns
/ Le HTML5 shim, for IE6-8 support of HTML elements
/[if lt IE 9]
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
/ Le styles
= stylesheet_link_tag "application"
= csrf_meta_tags
