.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"} Permapedia
      .nav-collapse
      
        - semantic_navigation :site_steps, :html => {:class => 'nav'} do |n|
          = n.item 'Plants', :link => plants_path, :highlights_on => controllers_array('plants')
          = n.item 'Taxa', :link => taxa_path, :highlights_on => controllers_array('taxa')
      
        %p.navbar-text.pull-right
          Logged in as
          %a{:href => "#"} username
